.btn-primary{
    background-color: #7abe73;
    color: #fff;
    border-color: #7abe73;
    cursor: pointer;
}
.btn-primary:hover{
    color:#fff;
    border-color: #7abe73;
    background-color: #61955b;
}

#tst-akey-er-msg{
    padding-top: 7px;
    padding-left: 15px;
}

#tst-akey-er-msg-nws{
    padding-top: 41px;
    padding-left: 20px;
}

div.alert-cioapikey{
    padding-left: 5px;
}

footer.footer{
/*    background: #292b2c;
    margin-top: 50px;*/
}

.loader {
    border: 5px solid  #7abe73; /* Light grey */
    border-top: 5px solid #61955b; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    margin-right:10px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

div#row-gt-wb-lst-loader {
    padding: 0px 15px;
}

div#div-wb-lst-tst{
    margin-bottom: 20px !important;
}

label.btn.active, .btn:focus {
    background: #292b2c !important;
    color: #fff !important;
}

input.btn.focus, .btn:focus {
    background: #7abe73 !important;
}
