
body {
  font-family: 'Titillium Web', sans-serif;
  background: #ffffff !important;
}

h1,
h2,
h3,
h5,
h6 {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
}

h4 {
    
    font-weight:300!important;
}

li { 
  list-style-type: none!important;
}

a:link,
a:visited,
a:hover,
/*a:active {
    color: #64a676;
}*/

label.btn.btn-outline-dark.active{
    background-color: #292b2c !important;
}

.img-astronaut{
    
    
}


.top-nav-right {
    
    float:right; 
}

.top-nav-right a {
    
    color:#fff; 
    padding: 20px;
    font-size: 20px;
}

.title {
    
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  color: #fff;
  font-family: 'Titillium Web', sans-serif;
  letter-spacing: 0px;
  padding-left: 10px; 
  padding-top: 2rem;
  padding-bottom: 0rem;
    
}

.title h1 {
  font-size:60px!important;
}

.h1-blue {
    
    color:#015f94;
    font-size: 40px;
}

.section-clearspace{
    
  height:100px;
}

.bulletpoint-icon {
    
    color: #7abe73;
}

.bullets {
    
    padding-top: 50px;
}

.benefit-wrapper {
    
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.benefit-item {
    
    border-radius: 5px;
}


@media (min-width: 768px) {
  header.masthead {
    padding-top: 5.2rem;
    padding-bottom: 5.2rem;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}

@media (max-width: 768px) {
    
 .optin {
    padding-top: 0rem!important;
    padding-bottom: 2rem!important;
     text-align: center;
  }
}

.section-padding {
    
  padding-top: 2rem;
  padding-bottom: 2rem;
    
}

.stoerer{
    
    position: fixed;
    right:0;
}

footer.footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #22262c;
}

.bottom-footer {
 
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #000;
}

.hidden{
    
    display: none;
}


.intl-tel-input {
	width: 100%;
}


.countdown{
    
    padding: 25px 25px 25px 25px;
    background: #ad5389;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3c1053, #ad5389);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3c1053, #ad5389); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.vibrate-1 {
	-webkit-animation: vibrate-1 2s linear infinite both;
	        animation: vibrate-1 2s linear infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-9-6 10:24:13
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation vibrate-1
 * ----------------------------------------
 */
@-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

.mobile-nav{display: none;}

@media (max-width: 576px) {
    
    /* HIDE */
    .stoerer{display: none;} 
    .static-top{display: none;}
    .mobile-hidden{display: none;}
    
    /* SHOW */
    .mobile-nav{display: block;}
    
    .title {
    
      position: relative;
      top: 0;
      left: 0;
      right: 0;
      color: #fff;
      font-family: 'Titillium Web', sans-serif;
      letter-spacing: 0px;
      padding-left: 10px; 
      padding-top: 2rem;
      padding-bottom: 15px;
      text-align: center!important;
    
    }
    
    .title h1 {
      font-size: 24px;
    }
    
    h1{font-size: 26px;}

   
}

.btn-treaction {
    
    color: #ffffff;
    background-color: #7abe73;
    border-color: #7abe73;
    margin-top: 15px;
    margin-bottom: 15px;
    cursor: pointer;
    font-weight: 300;
    
}




